p {
  margin-left: 40px;
  margin-top: 40px;
}

input.input-invalid {
  background-color: lightpink;
}

option.filtered {
  display: none;
}

div#circle-box {
  width: 640px;
  height: 480px;
  outline : 1px solid black;
}

circle:hover {
  fill: gray
}

select {
  width: 10em;
}